--Queries 16-22

--Query 16
SELECT * FROM tickets 
WHERE ticket_price < (SELECT MAX(ticket_price) FROM tickets) LIMIT 1;


--query 17
SELECT
    users.id,
    users.first_name,
    users.last_name,
    COUNT(*) AS cancelled_count,
    ROUND(
        COUNT(*) * 100.0 /
        SUM(COUNT(*)) OVER (),
        2
    ) AS cancellation_percentage
FROM users users
JOIN reservations r
    ON users.id = r.user_id
WHERE users.user_role = 'support'
    AND r.reservation_status = 'cancelled'
GROUP BY users.id, users.first_name, users.last_name
ORDER BY cancelled_count DESC
LIMIT 1;

--query 18
UPDATE users
SET last_name = 'Reddington'
WHERE id = (
    SELECT users.id
    FROM users users
    JOIN reservations r
        ON users.id = r.user_id
    WHERE users.user_role = 'spectator'
      AND r.reservation_status = 'cancelled'
    GROUP BY users.id
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

DELETE FROM payments
WHERE reservation_id IN (
    SELECT r.id
    FROM reservations r
    JOIN users u ON r.user_id = u.id
    WHERE u.last_name = 'Reddington'
      AND r.reservation_status = 'cancelled'
);

DELETE FROM reports
WHERE reservation_id IN (
    SELECT r.id
    FROM reservations r
    JOIN users u ON r.user_id = u.id
    WHERE u.last_name = 'Reddington'
      AND r.reservation_status = 'cancelled'
);

DELETE FROM reservations
WHERE id IN (
    SELECT r.id
    FROM reservations r
    JOIN users u ON r.user_id = u.id
    WHERE u.last_name = 'Reddington'
      AND r.reservation_status = 'cancelled'
);


--Query 20
DELETE FROM payments
WHERE reservation_id IN (
    SELECT id FROM reservations 
    WHERE reservation_status = 'cancelled'
);

DELETE FROM reports
WHERE reservation_id IN (
    SELECT id FROM reservations 
    WHERE reservation_status = 'cancelled'
);

DELETE FROM reservations
WHERE reservation_status = 'cancelled';

--Query 21
UPDATE tickets
SET ticket_price = ticket_price * 0.9
WHERE id IN (
    SELECT DISTINCT r.ticket_id
    FROM reservations r
    JOIN payments p ON r.id = p.reservation_id
    JOIN football_details fd ON r.ticket_id = fd.ticket_id
    WHERE r.reservation_status = 'paid'
      AND p.payment_time::date = CURRENT_DATE - INTERVAL '1 day'
      AND fd.stadium_name = 'Azadi'
);


--Query 22
SELECT 
    rep.category AS "category",
    COUNT(*)     AS "count"
FROM reports rep
JOIN reservations res ON rep.reservation_id = res.id
WHERE res.ticket_id = (
    SELECT res2.ticket_id
    FROM reports rep2
    JOIN reservations res2 ON rep2.reservation_id = res2.id
    GROUP BY res2.ticket_id
    ORDER BY COUNT(*) DESC
    LIMIT 1
)
GROUP BY rep.category
ORDER BY "count" DESC;
